.blog-entry {
  text-align: left;
  margin-left: 20%;
  margin-right: 20%;
  font-family: 'Helvetica Neue','Segoe UI','Helvetica','Arial',sans-serif;
  
  .blog-text {
    font-weight: bold;
    line-height: 35px;
  }
}