.blog {
  text-align: center;
}

.blog-header {
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: whitesmoke;
  background-color: #ffa2a2;
}

.blog-entries {
    min-height: 100vh;
    color: #272A35;
}
