.service-button {
  min-height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(5px + 2vmin);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 12px;
  color: #ffa2a2;
  background-color: whitesmoke;
  transition: 0.3s;
  border-radius: 10px;
  cursor: pointer;
}

.service-button:hover {
  color: whitesmoke;
  background-color: #ffa2a2;
}

@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}