.service-link {
  text-decoration: none;
}

.service-button {
  min-height: 7vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(5px + 2vmin);
  box-shadow: 2px 2px 4px 4px rgba(0, 0, 0, 0.1);
  border: 1px solid rgb(212, 212, 212);
  margin: 12px;
  color: #ffa2a2;
  background-color: whitesmoke;
  transition: 0.3s;
  border-radius: 10px;
  cursor: pointer;
}

.service-button:hover {
  color: whitesmoke;
  background-color: #ffa2a2;
  border: 1px solid #ffa2a2;
}

@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}